<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="On It"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf015;"></Label>


    <ScrollView class="page">
        <StackLayout class="home-panel">
            <!--Add your page content here-->
            <Label textWrap="true" text="February" class="h2 month-label"></Label>
            <Label textWrap="true" text="19" class="h2 day-label"></Label>
            <Label textWrap="true" text="Tue" class="h2 weekday-label"></Label>

            <Label textWrap="true" text="TASKS" class="h2 tips-label"></Label>

            <ListView class="list-group" [items]="tasks" (itemTap)="onItemTap($event)" style="height:1030px">
                <ng-template let-task="item">
                    <FlexboxLayout flexDirection="row" class="list-group-item">
                        <Label [text]="task.title" class="list-group-item-heading" verticalAlignment="center"
                            style="width: 60%"></Label>
                    </FlexboxLayout>
                </ng-template>
            </ListView>

            <Label textWrap="true" text="MOTIVATION TIPS" class="h2 tips-label"></Label>
            <Image
                src="http://d111vui60acwyt.cloudfront.net/product_photos/2186778/Clear_20Your_20Mind_20(Black)_original.png"
                class="mot-img"></Image>

        </StackLayout>
    </ScrollView>
</GridLayout>